.HOC_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #000;
    background: radial-gradient(98.8% 100.65% at 100% 100.43%, rgba(250, 225, 0, 0.17) 0%, rgba(255, 254, 248, 0.00) 100%), #000;
    position: relative;
    color: white;
}
main{
    height: 100%;
}
.main_container {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: transparent;
    position: relative;
}

.w_effect {
    position: absolute;
    border-radius: 1117px;
    background: conic-gradient(from 2deg at 36.93% 32.15%, #636363 69.37499821186066deg, rgba(71, 71, 71, 0.61) 99.37499642372131deg,
     rgba(75, 75, 75, 0.66) 121.87499642372131deg, rgba(61, 61, 61, 0.47) 219.375deg, rgba(28, 28, 28, 0.00) 299.9999928474426deg);
    filter: blur(250px);
    top: -237px;
    left: -720px;
    z-index: 0;
    width: 1083px;
    image-rendering: optimizeQuality;
    height: 799px;
    
}



/* head=======er */


.back_hero_img{
    position: absolute;
    width: 745.2952px;
    height: 574.6383px;
    left: 0;
  transition: all 1s ease-in-out;
  /* rotate: 30deg; */
}
.main_header_section{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 60px;
}
.Hero_imgs{
    position: relative;
    display: flex;
    justify-content: center;
}
.wapper_Hero_imgs{
    position: relative;
}
.Hero_img{
    width: 745.2952px;
    height: 574.6383px;
    /* position: absolute; */
}
.header_section{
    /* margin-left: 40px; */
    /* margin-top: 40px; */
    background-color: transparent;
    position: relative;
}
.header_section h1 {
    color: #FFF;
    /* font-family: Inter; */
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_box {
    display: flex;
    gap: 225px;
    flex-wrap: wrap;
}

.header_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.header_info p {
    color: #FFF;
    font-family: Inter;
    /* font-size: 24px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.btn {
    border-radius: 25px;
    border: 1px solid #FAE100;
    padding: 10px 15px;
    /* width: 80px; */
    text-align: center;
    /* text-align: center; */
    transition: all ease-in-out 0.25s;
    font-size: 17px;
}

.btn:hover {
    background-color: var(--color-yellow);
    /* color: white; */
    color: black;
}


.header_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    background: radial-gradient(496.23% 75.82% at 72.47% 22.29%, rgba(38, 38, 38, 0.90) 0%, rgba(0, 0, 0, 0.00) 100%), 
    radial-gradient(97.31% 137.15% at 100% 100%, rgba(36, 36, 36, 0.10) 0%, rgba(103, 93, 0, 0.01) 56.25%), rgba(0, 0, 0, 0.10);
    box-shadow: 2px 2px 4px 0px #212121 inset, -2px -2px 4px 0px #25251F inset, 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 20px;
    margin-top: 20px;
    width: 365px;
}

.header_text p {
    font-size:1.2rem ;
}

.mb {
    margin-bottom: 20px;
}







/* -----------------------cards--------------- */
.service_cards_section {
    margin-top: 90px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    justify-content: space-between;
}


.service_cards_section h1 {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    border-bottom: 1px solid var(--color-yellow);
    padding: 5px;
    font-weight: 400;
}

.service_cards {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* justify-content: space-between; */
}

.service_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    /* width: 250px; */
    width: 100%;
    height: 290px;
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;
    background: radial-gradient(362.04% 223.32% at 0% -37.29%, rgba(38, 38, 38, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(126.7% 188.08% at 100% 100%, rgba(36, 36, 36, 0.10) 0%, rgba(103, 93, 0, 0.01) 56.25%), rgba(0, 0, 0, 0.10);
    box-shadow: 2px 2px 4px 0px #212121 inset, -2px -2px 4px 0px #25251F inset, 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    /* justify-content: space-between !important   ; */
    margin-top: 20px;
    transition: all ease-in-out 0.25s;
}
.service_card:hover{
    transform: translateY(-20px);
}
.service_card p{
    font-size: 1rem;
}

.service_card:nth-child(2) {
    border-radius: 10px;
    background: radial-gradient(224.17% 163.4% at 37.64% 29.35%, rgba(38, 38, 38, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(97.31% 137.15% at 100% 100%, rgba(36, 36, 36, 0.10) 0%, rgba(103, 93, 0, 0.01) 56.25%), rgba(0, 0, 0, 0.10);
    box-shadow: 2px 2px 4px 0px #212121 inset, -2px -2px 4px 0px #25251F inset, 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.service_card:nth-child(3) {
    border-radius: 10px;
    background: radial-gradient(224.17% 163.4% at 37.64% 29.35%, rgba(38, 38, 38, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(97.31% 137.15% at 100% 100%, rgba(36, 36, 36, 0.10) 0%, rgba(103, 93, 0, 0.01) 56.25%), rgba(0, 0, 0, 0.10);
    box-shadow: 2px 2px 4px 0px #212121 inset, -2px -2px 4px 0px #25251F inset, 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.service_card_title {
    font-size: 18px;
    /* font-weight: 600; */
}










/*----------- show----------- */
.show_section {
    position: relative;
    margin-bottom: 90px;
    /* overflow-y: hidden; */
}



.show_container {
    display: flex;
    text-align: right;
    gap: 0px;
    justify-content: space-between;
    /* flex-wrap: wrap; */

}

.show_imgs {
    display: flex;
    flex-direction: column;

}

.show_imgs img:nth-child(1) {
    width: 330px;
    height: 287px;
    transition: all ease-in-out 0.25s;
    overflow: hidden;
    border-radius: 20px;
}
.show_imgs img:nth-child(1):hover {
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transform: scale(1.15);
}


.show_imgs img:nth-child(2) {
    width: 440px;
    height: 311.583px;
    margin-top: -70px;
    margin-left: 70px;
    transition: all ease-in-out 0.25s;
    overflow: hidden;
    border-radius: 20px;
}
.show_imgs img:nth-child(2):hover {
    z-index: 1;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.15);
}



.show_imgs img:nth-child(3) {
    width: 440px;
    height: 237.742px;
    margin-top: -70px;
    margin-left: 170px;
    transition: all ease-in-out 0.25s;
}
.show_imgs img:nth-child(3):hover {
    z-index: 1;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.15);
}



.show_info h2 {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.show_info p {
    margin-top: 105px;
    color: #FAE100;
    text-align: right;
    font-family: Inter;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

/* ----------------table-------------- */
.table_section {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    width: 75%;
    background: radial-gradient(496.23% 75.82% at 72.47% 22.29%, rgba(38, 38, 38, 0.90) 0%, rgba(0, 0, 0, 0.00) 100%),radial-gradient(97.31% 137.15% at 100% 100%, rgba(36, 36, 36, 0.10) 0%, rgba(103, 93, 0, 0.01) 56.25%),#000;
    box-shadow: 2px 2px 4px 0px #212121 inset, -2px -2px 4px 0px #25251F inset, 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.table_container table thead tr th {
    color: #FAE100;
    font-size: 18px;
    width: 400px;
    margin-bottom: 10px;
    font-weight: normal;
}

.table_container table thead tr th:nth-child(1) {
    text-align: left;

}

.table_container table thead tr th:nth-child(2) {
    width: 200px;
}

.table_container table thead tr th:nth-child(3) {
    width: 200px;
}

.tc {
    text-align: center;
}

.table_container table tbody tr td {
    padding: 25px 0px;
    font-size: 18px;

}
.small_icon{
    font-size: 1.5rem !important;
}






@media screen and (max-width: 1024px) {
    .back_hero_img{
        height: 251.4513px;
        width: 326.1277px;
    }
    .Hero_img{
        height: 251.4513px;
        width: 326.1277px;
        
    }
    .main_header_section{
        width: 90%;
        margin:50px 80px 50px 45px;
        
    }
    .header_box{
        gap: 0px;
    }
    .header_section{
        width: 55%;
        /* margin-right: 20px; */
    }
    
     .show_container {
        justify-content: center;
    }
    
}
@media screen and (max-width: 768px) {
    .show_info h2{
        font-size: 30px;
        text-align: center;
    }
    .show_info p{
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .back_hero_img{
        height: 251.4513px;
        width: 326.1277px;
    }
    .Hero_img{
        height: 251.4513px;
        width: 326.1277px;
        
    }
    .main_header_section{
        justify-content: center;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
    }
    .header_section{
        width: auto;
    }
    .header_text {
        width: 265px;
        padding: 15px;
        gap: 5px;
    }
    .header_section h1 {
        font-size: 40px;
        text-align: center;
    }
    .table_container {
        width: 100%;
    }
    .table_container table thead tr th:nth-child(1) {
        text-align: left;
        width: 600px;
    }

    .table_container table thead tr th {
        font-size: 12px;
    }

}