.event_container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 100px;
}

.event_container h2{
    font-weight: 400;
}
.orgainer_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    border-radius: 25px;
    background: radial-gradient(27.19% 116.86% at 50% 50%, rgba(49, 48, 48, 0.6) 0%, rgba(84, 84, 84, 0) 100%), rgba(59, 59, 59, 0.1);
    border-radius: 25px;
/* background: radial-gradient(27.19% 116.86% at 50% 50%, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(0, 0, 0, 0.10); */
box-shadow: 4px 4px 4px 0px rgba(75, 75, 75, 0.4) inset;


}

.orgainer_card_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.organiner_img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: #D9D9D9;
}

.main_events {
    width: 100%;
}

.events_row_2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.card_info {
    border-radius: 10px;
    background: radial-gradient(79.36% 84.72% at -61.47% 22.46%, rgba(99, 99, 99, 0.80) 0%, rgba(99, 99, 99, 0.00) 100%), radial-gradient(209.84% 203.35% at 275.29% 88.29%, rgba(250, 225, 0, 0.90) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.10);
    padding-bottom: 30px;
    padding-left: 20px;
    text-align: left;
    
}

.card_info p {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}
.event_card{
    border-radius: 10px;
    transition: all ease-in-out 0.35s;
}
.event_card:hover{
    box-shadow: 2px 4px 4px 0px #5F5708;
    
}
.event_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.event_card_img {
    width: 290px;
    height: 240px;
}

@media screen and (max-width: 786px) {
    .orgainer_card{
        gap: 0;
    }
    .event_card img{
        width: 270px;
    }
    
}